.titleBloc {
  font-size: $font_xl;
}

.subtitleBloc {
  font-size: $font_l;
}

.navbar {
  width: 90%;
  background-color: $colors_fourth;
}

.navButton {
  background-color: $colors_third;
  color: $colors_fifth;
}

.navicon {
  font-size: $font_xl;
}