.titleBloc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  align-self: flex-start;
  border-bottom: 4px solid $colors_third;
  border-left: 4px solid $colors_third;
  border-bottom-left-radius: $radius_m;
  padding: $margin_s;
  margin: $margin_l;
  font-size: $font_xl;

  img {
    height: 50px;
  }
}

.subtitleBloc {
  font-size: $font_l;
}

.navbar {
  width: 90%;
  border-bottom: 3px solid $colors_first;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: $margin_l;
}

.navButton {
  width: 120px;
  min-height: 30px;
  cursor: pointer;
  text-align: center;
  padding: $margin_s;
  margin: $margin_xs;
  box-sizing: border-box;
  position: relative;
  font-weight: 500;

  &:hover {
    &::after {
      content: "";
      width: 60px;
      height: 3px;
      background-color: orange;
      position: absolute;
      left: 30px;
      top: 27px;
    }
  }
}

.navBarPicture {
  width: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  &_icon {
    font-size: $font_icon;
    position: absolute;
  }

  input {
    width: $font_icon;
    position: relative;
    left:0px;
    opacity: 0;
  }
}

.navicon {
  font-size: $font_xl;
  cursor: pointer;
  margin: 0 $margin_xs;
}

.smallicon {
  font-size: $font_l;
  cursor: pointer;
  margin: 0 $margin_xs;
}

.redColor {
  color: $colors_third;
}

.center {
  align-items: center;
}

.validButton,
.noValidButton {
  cursor: pointer;
  background-color: $colors_second;
  color: $colors_white;
  padding: $margin_sm;
  border-radius: $radius_s;
  text-align: center;
  min-width: 120px;
  margin: $margin_l;

  &:hover {
    background-color: $colors_first;
  }
}

.noValidButton {
  background-color: $colors_third;
}

.messageError {
  color: $colors_third;
  font-size: $font_xl;
}

.messageInfo {
  font-size: $font_l;
  margin-top: $margin_m;
}

.userConnected {
  width: 90%;
  margin-left: $margin_xxxl;
}

.verticalLine {
  width: 3px;
  margin: $margin_xs;
  background-color: $colors_second;
 min-height: 200px;
}