.homeContainer {
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  h3 {
    position: relative;
  
        &::before {
          content: "";
          background-color: $colors_third;
          width: 80px;
          height: 3px;
          position: absolute;
          left:30%;
          top:23px;
        }
  }

  .image {
    width:90%;
  
    img {
      width: 100%;
      object-fit: cover;
    }
  }
}