.seasonBox {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &_button {
    background-color: $colors_fourth;
    border:2px solid $colors_second;
    padding: $margin_s $margin_m;
    margin: $margin_s;
    border-radius: $radius_s;
    min-width: 70px;
    text-align: center;
    cursor: pointer;
  }
}

.teamsBox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  &_card {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: $margin_m;
    cursor: pointer;

    img {
      object-fit: cover;
      width: 90%;
      margin: $margin_s;
    }
  }
}