.spinloader {
  cursor: progress;
  position: relative;
  width: 100%;
  height: 200px;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    opacity: 1;
  }

  &::after {
    box-sizing: border-box;
    z-index: 10002;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #c2baba;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 1s linear infinite;
  }
}

@keyframes custom-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
